<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Simon Bernard</h2>
      <h5>
        Associate Professor (Maître de Conférence) &#64; LITIS lab., University Rouen Normandy
      </h5>
      <hr>
      <figure id="profil" class="float-end">
        <img class="card-img-top" src="assets/images/profil_nb.jpg" alt="Simon Bernard, LITIS lab., Univ. Rouen Normandy">
      </figure>
      <p>
        I am an associate professor (MCF) at the University of Rouen Normandy (URN), and a member of the <em>Machine Learning</em> research team of the <a href="http://www.litislab.eu/" target="_blank">LITIS</a> lab. (UR 4108). I am also a member of the <em>Data, Learning, Knowledge</em> research group in the CNRS Research Federation <a href="http://www.normastic.fr/" target="_blank">NormaSTIC</a> (FR 3638).
      </p>
      <p>
        My research focuses on machine learning, and more specifically on ensemble methods and deep learning methods. More recently, I've taken a keen interest in machine learning for physics, particularly with operator learning methods and/or physic-informed learning methods. Other learning problems I have recently tackled include multi-view learning, weakly supervised learning and anomaly detection.
      </p>
      <p>
        I teach computer science and machine learning at the Faculty of <em>Science et Techniques</em> of the <a href="http://www.univ-rouen.fr/" target="_blank">University of Rouen Normandy</a>, to bachelor and master students. Today, I mostly teach web programming and the theoretical and methodological foundations of machine learning to students of the <a href="http://mastersid.univ-rouen.fr/" target="_blank">SID master</a>'s program.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 d-flex flex-row flex-wrap gap-3 justify-content-start">
      <img class="logo" src="assets/images/logo_urn.png" alt="Univ. Rouen Normandy logo">
      <img class="logo" src="assets/images/logo_litis.png" alt="LITIS lab. logo">
      <img class="logo" src="assets/images/logo_normastic.png" alt="NormaSTIC logo">
    </div>
  </div>
  <hr class="mt-5">
  <div class="row mt-5">
    <div class="col-12">
      <h5>Other responsibilities:</h5>
      <ul>
        <li>Member of the LITIS lab. council</li>
        <li>Member of the Research Committee and the Academic Council of the University of Rouen Normandy</li>
        <li>Member of the Physics department council of the University of Rouen Normandy</li>
        <li>In charge of the second year of the Electronic, Electric Energy, Automatic (EEEA) Licence program at the University of Rouen Normandie</li>
      </ul>
    </div>
  </div>
</div>
