<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <h2>Research projects</h2>
      <p>
        coming soon...
      </p>
      <!--
        <h5>Ongoing projects</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h6><strong>ODD</strong> - Online Deep Anomaly Detection</h6>
          </li>
          <li class="list-group-item">
            <h6><strong>PINNterfaces</strong> - Modeling interfaces in granular media using physics informed neural networks</h6>
          </li>
          <li class="list-group-item">
            <h6><strong>CATCH</strong> - Compréhension Automatique de Témoignages de Capteurs Humains</h6>
          </li>
          <li class="list-group-item">
            <h6><strong>L-LiSa</strong> - Laboratoire Commun LITIS-Saagie</h6>
          </li>
        </ul>-->
    </div>
  </div>
</div>
